body{margin: auto;text-align: center;align-items: center;justify-content: center;background:
linear-gradient(to right,black,orange,black);}
h1{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style: oblique;font-size: 30px;text-shadow: 6px;text-decoration: underline;color: white;}
h2{color: red;text-shadow: 6px;font-size: 20px;font-style: italic;font-family: 'Times New Roman', Times, serif;}
p{font-size: 15px;font-family: 'Times New Roman', Times, serif;font-style: initial;text-shadow: 6px;color: white;}
a{font-size: 15px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-style: initial;text-shadow: 6px;text-decoration: none;border-radius: 10px 10px;}
.menu {
    font-size: 20px;
font-style:oblique;
    cursor: pointer;
    padding: 20px;
    background-color: white;
    color: black;
    position: fixed;
    left: 10px;
    z-index: 2000;
border-radius: 10px 10px;
list-style: none;
    display: flex;
    padding: 20px;
    border-radius: 10px 10px;
}
/* Menu Lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Fora da tela inicialmente */
    width: 160px;
    height: 500vh;
    background-color:white;
    transition: left 0.5s; /* Transição suave ao abrir/fechar */
    z-index: 1000;
    border-radius: 10px 10px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.close-btn {float: right;
    position: relative;right: 10px;top: 10px;
    background: none;
    border: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
}
.side-bar ul li a:hover {
    background-color: blueviolet;
    width: 130px;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 5px red;
    padding: 10px;
    color: white;
    text-decoration: none;
    display: block;
    list-style-type: none;
    border-radius: 10px 10px;
    margin-bottom: 10px;
}
section{width: 300px;border-radius: 10px 10px;margin: auto;text-align: center;justify-content:center;padding: 10px;}
header{width: 300px;margin: auto;text-align: center;padding: 10px;justify-content: center;}
footer{width: 300px;margin: auto;text-align: center;padding: 10px;justify-content: center;border-radius: 10px 10px;}
dl{padding: 5px;}
dt{text-align: left;font-size: 20px;font-style: oblique;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-shadow: 6px;padding: 5px;}
dd{font-size: 15px;font-family: Arial, Helvetica, sans-serif;font-style: inherit;text-align: left;text-shadow: 6px;padding: 5px;}
thead{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-style: oblique;font-size: 20px;text-align: left;text-shadow: 6px;}
tbody{font-style: inherit;font-size: 15px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;text-shadow: 6px;text-align: left;}
tfoot{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-style: initial;font-size: 20px;text-shadow: 6px;text-align: left;}
summary{text-shadow: 6px;border-radius: 10px 10px;padding: 10px;width: 230px;margin: auto;}